@font-face {
    font-family:"OctoberCrow" ;
    src: url("../fontes/OctoberCrow.ttf");
}
@font-face {
    font-family: "MeltedMonster";
    src: url("../fontes/MeltedMonster.ttf");
}
@font-face {
    font-family:"HelpMe" ;
    src: url("../fontes/HelpMe.ttf");
}